
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked" style="background-color: lightgray">
  
            <li  routerLinkActive="active"><a routerLink="reverseString">Reverse string</a></li>
            <li routerLinkActive="active"><a routerLink="sortArray"  >Sort Array</a> </li>
            <li  routerLinkActive="active"><a routerLink="pairSum">Pair Sum</a> </li>
            <li routerLinkActive="active"><a routerLink="arrayEmpty" >Empty An Array</a> </li>
            <li routerLinkActive="active"><a routerLink="largestSum" >Largest Sum </a> </li>
           
          </ul>
    </div>
    <div class="col-md-6"><router-outlet></router-outlet></div>
    <div class="col-md-3" ></div>


</div>


                      